body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn {
    padding: 16px;
    font-size: 20px;
    border-radius: 30px;
    background-color: hotpink;
}